.sign-in-card {
  position: relative;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.logo-mobile {
  display: none;
  height: 90px;
  margin-bottom: 1.5rem;
}

.full-width {
  width: 100%;
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
}
