<app-main-layout>

  <section class="create-article-page">

    <button class="back-btn" (click)="goBack()">←</button>

    <h1 class="page-title">Créer un nouvel article</h1>

    <div *ngIf="loading">Chargement des topics...</div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <form
      *ngIf="!loading"
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="form"
    >

      <select formControlName="topicId">
        <option value="" disabled> Sélectionner un thème </option>

        <option
          *ngFor="let topic of topics"
          [value]="topic.id"
        >
          {{ topic.name }}
        </option>
      </select>

      <input
        type="text"
        formControlName="title"
        placeholder="Titre de l’article"
      />

      <textarea
        formControlName="content"
        placeholder="Contenu de l’article"
      ></textarea>

      <button
        type="submit"
        class="submit-btn"
        [disabled]="form.invalid"
      >
        Créer
      </button>

    </form>

  </section>

</app-main-layout>