<app-main-layout>

  <section class="themes-page">

    <div *ngIf="loading">Chargement...</div>
    <div *ngIf="error">{{ error }}</div>

    <div class="themes-grid" *ngIf="!loading && !error">

      <div class="theme-card" *ngFor="let topic of topics">

        <h3 class="theme-title">
          {{ topic.name }}
        </h3>

        <p class="theme-description">
          {{ topic.description }}
        </p>

        <button
          *ngIf="!topic.subscribed"
          class="subscribe-btn"
          (click)="subscribe(topic)"
        >
          S’abonner
        </button>

        <button
          *ngIf="topic.subscribed"
          class="subscribed-btn"
          disabled
        >
          Déjà abonné
        </button>

      </div>

    </div>

  </section>

</app-main-layout>